
version: "3"

services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - 9000:3000
    volumes:
      - ./grafana-data:/var/lib/grafana

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - /etc/prometheus:/etc/prometheus
      - ./prometheus-data:/prometheus
      - ./config/prometheus.yml:/etc/prometheus/prometheus.yml
    restart: unless-stopped
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
